.square1{
  background-color:black;
  height:50px;
  width:50px;
}
.square2{
  background-color:black;
  height:50px;
  width:100px;
}
.square3{
  background-color:black;
  height:50px;
  width:150px;
}